<div class="admin-login">
  <h1>My Home Network</h1>

  <h3><em>Welcome, Administrator! Please Login!</em></h3>
  <br>
  <input class="form-control" placeholder="Password" type="password" name="adminpassword">
  <br><br>
  <a href="/" type="submit" class="btn btn-success"> Continue <i class="fa fa-arrow-right"></i></a>
</div>
