<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Home Network</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="It's a Healthcare Manager">
  <meta name="author" content="Alex Davis">

  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <link href="../public/css/main.css" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

  <script src="/js/main.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <link href="//netdna.bootstrapcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
  <link href="/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />

  <script src="//cdn.jsdelivr.net/html5shiv/3.7.1/html5shiv.min.js"></script>
  <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
  <script src="/respond.proxy.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="/favicon.png">
  <!--
  I kept these here for when I get around to exporting the logo in these sizes. TODO: Resize logo for iOS
  Random Protip: RubyMine treats TODO as a keyword, making any text afer it colorful, and shows it in the todo toolbar below!
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="./assets/ico/apple-touch-icon-57-precomposed.png">
  -->

</head>

<body>
    <h1>My Home Network</h1>
    <h3>Welcome! - <em>First Time Setup</em></h3>
    <p><b>Name your network:</b> this will allow you identify <em>your</em> network when you are trying to connect from a wireless device. Beware! This name can be seen by anyone nearby.</p>
    <form action="">
        <input placeholder="Network Name" type="text" name="networkname">
    </form>
    <br>
    <p><b>Create a network password:</b> this password will be used for securely connecting devices to your network. Keep this password safe and only give it to people you can trust.</p>
    <form action="">
        <input placeholder="Network Password" type="password" name="networkpassword">
        <br><br>
        <input placeholder="Confirm Network Password" type="password" name="confirmnetworkpassword">
        <br><br>
        <button type="submit" class="btn btn-success"> Continue <i class="fa fa-arrow-right"></i></button>
    </form> 
</body>