<div class="small-container">

  <p>

  <h1>My Home Network</h1><br><b><i class="fa fa-lock"></i> Set an administrator password:</b> This aditional password
  is different from your network password. This administrator password will allow you to login to <i>My Home Network</i>
  to check in on the on your network and allow you to:</p>
</div>

<div class="small-list">
  <ul>
    <li>Interact with an intuitive visualization of your home network setup</li>
    <li>Manage settings (network name & password, security preferences, etc)</li>
    <li>Control who is on your network and what they can access</li>
    <li>View home network performance statistics</li>
  </ul>
  <input placeholder="Administrator Password" type="password" name="adminpassword">
  <br><br>
  <input placeholder="Confirm Administrator Password" type="password" name="confirmadminpassword">
  <br><br>
  <button type="submit" class="btn btn-success"> Continue <i class="fa fa-arrow-right"></i></button>
</div>
