<div class="small-container">
  <h1>My Home Network</h1>
  <br>

  <p><strong>First Time Information:</strong> As you learn your way around <em>My Home Network</em>, look for information icons,
    seen below, for helpful hints and further information about the various tools and infographics that can be found on
    <em>My Home Network!</em></p>
    <p><i class="fa fa-info-circle fa-5x"></i></p>
    <p><em>*enlarged to show detail</em></p>
  <a href="/" class="btn btn-success"> Continue <i class="fa fa-arrow-right"></i></a>
</div>
