<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="../public/js/jquery.jsPlumb-1.4.1-all.js"></script>
    <script src="/js/jquery.jsPlumb-1.4.1-all.js"></script>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/topology.css" rel="stylesheet">
    <link href="../public/css/main.css" rel="stylesheet">
    <link href="../public/css/topology.css" rel="stylesheet">
</head>


<body>
<div id="header"><h2>My Network Manager</h2></div>
<div id="main">
    <div class="device" id="desktop">
        <figure>
            <img src="../public/images/windowsDesktop(small).png"/>
            <figcaption>Small Windows Desktop</figcaption>
        </figure>
    </div>
    <div class="device" id="router">
        <figure>
            <img src="../public/images/DLinkRouter.png"/>
            <figcaption>D-Link Router</figcaption>
        </figure>
    </div>

    <div class="device" id="air">
        <figure>
            <img src="../public/images/macbookAir(small).png"/>
            <figcaption>MacBook Air</figcaption>
        </figure>
    </div>
    <div class="device" id="iphone">
        <figure>
            <img src="../public/images/iPhone(small).png"/>
            <figcaption>iPhone</figcaption>
        </figure>
    </div>

    <div class="device" id="gaming">
        <img src="../public/images/gamingDevice.png"/>
    </div>

</div>

</body>


<script>

    jsPlumb.ready(function () {

        jsPlumb.connect({
            source: "desktop",
            target: "router",
            anchors: ["BottomCenter", "Right" ],
            endpoint: "Blank",
            paintStyle: { strokeStyle: "Grey", lineWidth: 3, dashstyle: "2 4" },
            endpointStyle: { fillStyle: "Grey", outlineColor: "Grey", outlineWidth: 1 },
        });

        jsPlumb.connect({
            source: "air",
            target: "router",
            anchors: ["BottomCenter", "Left" ],
            paintStyle: { strokeStyle: "Grey", lineWidth: 3, dashstyle: "2 4" },
            endpointStyle: { fillStyle: "Grey", outlineColor: "Grey", outlineWidth: 1 },
            endpoint: "Blank",
        });

        jsPlumb.connect({
            source: "gaming",
            target: "router",
            anchors: ["BottomCenter", "Left" ],
            paintStyle: { strokeStyle: "Grey", lineWidth: 3 },
            endpointStyle: { fillStyle: "Grey", outlineColor: "Grey", outlineWidth: 1 },
            endpoint: "Blank",
        });

        jsPlumb.connect({
            source: "iphone",
            target: "router",
            anchors: ["BottomCenter", "Right" ],
            paintStyle: { strokeStyle: "Grey", lineWidth: 3 },
            endpointStyle: { fillStyle: "Grey", outlineColor: "Grey", outlineWidth: 1 },
            endpoint: "Blank",
        });
    });
</script>


</html>