body {
    padding-top: 5%;
}

footer {
    padding-bottom: 15px;
}

dt {
    margin-top: 10px;
}

dd {
    margin-left: 5px;
}

.day {
    font-weight: bold;
    vertical-align: middle;
    float: left;
    line-height: 54px;
    padding-right: 5px;
    color: #2c3e50;
    font-size: 64px;
}
.month-year {
    line-height: 26px;
    font-size: 3rem;
    float: left;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.img-sponsor {
    margin-bottom: 10px;
    margin-top: 5px;
}

.sponsor-silver {
    margin-bottom: 20px;
    max-width: 200px;
    max-height: 100px;
}

.thumbnail.with-caption {
    display: inline-block;
    background: #f5f5f5;
}
.thumbnail.with-caption p {
    text-align: center;
    margin: 0;
    padding-top: 0.5em;
}
.thumbnail.with-caption small:before {
    content: '\2014 \00A0';
}
.thumbnail.with-caption small {
    width: 100%;
    text-align: right;
    display: inline-block;
    color: #999;
}

.blog-div img {
    margin: 10px;
    max-width: 500px;
}

.blog-panel .panel-title {
    font-size: 20px;
}

.blog-panel .panel-title a span.label {
    position:relative;
    bottom:3px;
    left:5px;
}

#team-collapse div.col-sm-2 {
    max-width: 150px;
}

#admin-comment {
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 200px;
}

.starburst {
    font-size: 24px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(71, 153, 181);
    padding-left: 15px;
    padding-right: 15px;
}

.starburst a {
    margin-bottom: 0px;
    color: white; ;
}

.post-entry h1 span,
.post-entry h2 span,
.post-entry h3 span,
.post-entry h4 span,
.post-entry h5 span,
.post-entry h6 span {
    display:none;
}

.post-entry div.blog-image {
    max-width: 500px;
    max-height: 400px;
    padding-top: 10px;
}

.post-entry .blog-image img {
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    border-radius: 2px;
}

div.pg-img img {
    max-height: 100%;
    width: auto;
}

div.pg-img {
    margin-top: 10px;
    margin-bottom: 20px;
}

@media(max-width: 767px) {
    div.pg-img {
        max-height: 250px;
    }
    div.pg-img img {
        max-width: 100%;
        height: auto;
    }
}
@media(min-width:768px) and (max-width:991px) {
    div.pg-img {
        max-height: 250px;
    }
}
@media(min-width:992px) and (max-width:1199px) {
    div.pg-img {
        max-height: 300px;
    }
}
@media(min-width:1200px) {
    div.pg-img {
        max-height: 350px;
    }
}

.media-object {
    max-width: 300px;
}

@media(min-width:768px) {
    .popover {
        width: 800px;
        max-width: 110% !important;
    }
}

.btn-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0 0;
    font-size: 12pt;
    line-height: 1.42;
    border-radius: 10px;
}

h3 .btn-circle {
    position: relative;
    bottom: 4px;
}

.btn-circle i {
    position: relative;
    top: -2px;
}
