@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

body {
    margin: 5%;
    font-family: 'Open Sans' 'Helvetica Neue' Helvetica, sans-serif;
}

footer {
    padding-bottom: 15px;
}

dt {
    margin-top: 10px;
}

dd {
    margin-left: 5px;
}

.btn-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0 0;
    font-size: 12pt;
    line-height: 1.42;
    border-radius: 10px;
}

h3 .btn-circle {
    position: relative;
    bottom: 4px;
}

.btn-circle i {
    position: relative;
    top: -2px;
}

.panel.detail {
    width: 800px;
    height: 500px;
}

.small-container {
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

.small-list {
    margin-left: 25%;
    font-size: 13px;
}

.admin-login {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-weight: 300;
line-height: 1.1;
color: inherit;
}