@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

body {
    margin: 5%;
    font-family: 'Open Sans' 'Helvetica Neue' Helvetica, sans-serif;
}

footer {
    padding-bottom: 15px;
}

dt {
    margin-top: 10px;
}

dd {
    margin-left: 5px;
}

.badge-red {
    background-color: #b94a48;
}
.badge-yellow {
    background-color: #f89406;
}
.badge-green {
    background-color: #468847;
}

.btn.pop {
    padding: 6px 4px;
}

.btn-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0 0;
    font-size: 12pt;
    line-height: 1.42;
    border-radius: 10px;
}

h3 .btn-circle {
    position: relative;
    bottom: 4px;
}

.btn-circle i {
    position: relative;
    top: -2px;
}

.panel.detail {
    width: 800px;
    /*height: 500px;*/
}

.small-container {
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

.med-container {
     margin-left: 15%;
     margin-right: 15%;
     text-align: justify;
 }

@media (max-width: 700px) {
    .small-container {
        margin-left: 3%;
        margin-right: 3%;
        text-align: left;
    }

    .med-container {
        margin-left: 3%;
        margin-right: 3%;
        text-align: left;
    }
    .admin-login {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.small-list {
    margin-left: 25%;
    font-size: 13px;
}

.admin-login {
    margin: 25%;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-weight: 300;
line-height: 1.1;
color: inherit;
}

figcaption {
    text-align: center;
}
