h2 {
    text-align: "center";

}

#main {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0 position : relative;
    display: block;

}

.footer {
    height: 100px;
    width: 100%;
    background-color: black;
    display: block;
}

.device {

    margin-bottom: 20px;
    position: absolute;
    display: block;
}

img {
    display: block;
}

#router {
    display: inline-block;
    margin: 30% 0% 0% 37%;
    padding: 10px;
}

#air {
    display: inline;
    margin: 250px 0px 0px 10%;
}

#desktop {
    display: inline;
    margin: 250px 0px 0px 60%;
}

#iphone {
    display: inline;
    margin: 50px 0px 0px 50%;
}

#gaming {
    display: inline;
    margin: 50px 0px 0px 30%;
}
