h2 {
    text-align: "center";

}

body, html {
    min-width: 780px;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

#main {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0 position : relative;
    display: block;

}

.footer {
    height: 100px;
    width: 100%;
    background-color: black;
    display: block;
}

.device {

    margin-bottom: 20px;
    margin: auto;
    position: absolute;
    display: block;
}

img {
    display: block;
    align: middle;
}

#router {
    display: inline-block;
    margin: 450px 350px 0px 350px;
    padding: 10px;
}

#air {
    display: inline;
    margin: 250px 0px 0px 100px;
}

#desktop {
    display: inline;
    margin: 250px 0px 0px 600px;
}

#iphone {
    display: inline;
    margin: 50px 0px 0px 500px;
}

#gaming {
    display: inline;
    margin: 50px 0px 0px 200px;
}
